img{
    height:15em;
    width:100%;
}
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 30px;
    /* background-color:black; */
    opacity:0.7;
    font-size: 75%;
    color:white;
    font-family: calibri;
    width:75%;
    padding-left: 3%;
    /* line-height:1.5; */
  }