<div id="dataclient" class="row">
  <div class="col-lg-6">
    <h4 style="color: white;">Welcome,Mr {{name}}</h4>
  </div>
  <div class="col-lg-6">
   
      
          <h4><span class="glyphicon glyphicon-lock" style="padding-right: 5px;padding-left: 5px;"></span><label style="color: white;">Room#{{RoomNo}}</label>
          <span class="glyphicon glyphicon-cloud" style="padding-right: 5px;padding-left: 5px;"></span><label style="color: white;">{{temp}} ⁰C</label>
          <span class="glyphicon glyphicon-time" style="padding-right: 5px;padding-left: 5px;"></span><label style="color: white;">{{today | date:'hh:mm'}}</label></h4>

     
     
          <!-- <span class="glyphicon glyphicon-cloud" style="font-size: 30px"></span>23 c -->

      <!-- </div>
      <div class="col-lg-2"> -->
          <!-- <span class="glyphicon glyphicon-time"></span>10:00pm -->

      <!-- </div> -->
    
      
      
      
      
  </div>
</div>

