<div id="mySidenav" class="sidenav">
  <div id="imgdiv">
      <img src="./src/assets/images/hotezaLogo.png" style="width:100%">
  </div>
  <a href="#"> 
  <span class="glyphicon glyphicon-info-sign"></span>
  Hotel Information</a>
  <a href="#"> 
      <span class="glyphicon glyphicon-bell"></span>Hotel Services</a>
  <a href="#">
      <span class="glyphicon glyphicon-cutlery"></span>Restaurants & Bars</a>
  <a href="#">
      <span style="font-size: 3rem;">
          <span style="color: Mediumslateblue;">
          <i class="fas fa-igloo"></i>
          </span>
        </span>Special Offers</a>
  <a href="#">
      <span class="glyphicon glyphicon-map-marker"></span>City Guide</a>
  <a href="#">
      <span class="glyphicon glyphicon-picture"></span>PhotoGallery</a>
  <a href="#">
      <span class="glyphicon glyphicon-info-sign"></span>One Touch Services</a>
  <a href="#"><span class="glyphicon glyphicon-envelope"></span>Messages</a>
 
</div>
